@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Esta é a sua lista de afazeres.</h1>
    <p></p>
    <p>Clique no menu de cadastro de tarefa para iniciar!</p>
</div>
